# Ігноруємо все в папці config/
config/*

# Але дозволяємо відстежувати config.yml
!config/config.yml

# Ігноруємо папку з медіа-файлами (відео)
media/

# Ігноруємо логи та тимчасові файли
*.log
tmp/

# Локальні налаштування редакторів (якщо використовуєте)
.idea/
.vscode/

# Системні файли (якщо використовуєте macOS або інше)
.DS_Store